{
    "extends": [
        "incredible"
    ],
    "parserOptions": {
      "ecmaFeatures": {
        "legacyDecorators": true
      }
    },
    "settings": {
        "import/resolver": {
          "babel-module": {
          },
          "node": {
            "extensions": [
              ".js",
              ".json"
            ]
          }
        }
    },
    "globals":{
        "BigInt":true
    },
    "rules": {
      "import/no-named-as-default-member": 0,
      "import/named": 0
    }
}
